/* 头部样式 */
.wjs_header{
	height: 50px;
	line-height: 50px;
	border-bottom:1px solid #ccc;
}
.wjs_header .row{
    height: 100%;
    text-align: center;
}
.wjs_header .row > div:nth-of-type(-n+3){
	border-right: 1px solid #ccc;
}	
.wjs_header .row > div:nth-of-type(-n+3) > .wjs-code{
     display: block;
     position: relative;
}
.wjs_header .row > div:nth-of-type(-n+3) > .wjs-code > img{
     display: none;
     position: absolute;
     top:49px;
     left: 50%;
     transform: translateX(-50%);
     border:1px solid #ccc;
     border-top:none;
 }
 /* 导航条样式 */
 .wjs_nav{
 	
 }
 .wjs_nav.navbar{
    margin-bottom: 0;
}
 .wjs_nav .navbar-brand{
 	height: 80px;
 	line-height: 50px;
 }
 .wjs_nav .navbar-nav > li > a {
  line-height: 50px;
  font-size: 16px;
}
 .wjs_nav .navbar-brand > span:first-of-type{
 	color: #e92322;
 }
 .wjs_nav .navbar-brand > span:last-of-type{
 	color: #000;
 }
.wjs_nav .navbar-brand .wjs_icon{
	font-size: 40px;
}
.wjs_nav .navbar-toggle{
	margin-top:20px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li a:focus {
  color: #777;
  border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav .active > a,
.wjs_nav .navbar-nav .active a:hover,
.wjs_nav .navbar-nav .active a:focus {
  background-color: transparent;
  border-bottom: 3px solid #e92322;
}
